## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r'C:\Users\Brandon\Bootcamp\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
0,0,Castro,BR,-24.7911,-50.0119,64.22,96,100,4.72,light rain,2021-01-24 23:38:52
1,1,Chuy,UY,-33.6971,-53.4616,71.15,92,0,7.27,clear sky,2021-01-24 23:35:53
2,2,Payson,US,40.0444,-111.7321,36.00,75,90,9.22,overcast clouds,2021-01-24 23:36:04
3,3,Albany,US,42.6001,-73.9662,19.00,46,43,4.00,scattered clouds,2021-01-24 23:35:57
4,4,Hilo,US,19.7297,-155.0900,78.80,65,40,6.91,moderate rain,2021-01-24 23:35:44

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
1,1,Chuy,UY,-33.6971,-53.4616,71.15,92,0,7.27,clear sky,2021-01-24 23:35:53
4,4,Hilo,US,19.7297,-155.0900,78.80,65,40,6.91,moderate rain,2021-01-24 23:35:44
5,5,Saint-Joseph,RE,-21.3667,55.6167,78.80,73,0,3.44,moderate rain,2021-01-24 23:38:53
6,6,Geraldton,AU,-28.7667,114.6000,70.70,65,74,13.89,broken clouds,2021-01-24 23:38:53
8,8,Puerto Ayora,EC,-0.7393,-90.3518,84.20,65,20,13.80,light rain,2021-01-24 23:38:53
9,9,Mar Del Plata,AR,-38.0023,-57.5575,75.99,88,0,16.11,clear sky,2021-01-24 23:38:48
10,10,Padang,ID,-0.9492,100.3543,73.40,88,40,5.75,scattered clouds,2021-01-24 23:38:54
12,12,Ambulu,ID,-8.3450,113.6058,78.58,75,76,2.93,broken clouds,2021-01-24 23:38:54
16,16,Carnarvon,AU,-24.8667,113.6333,73.40,73,90,14.97,overcast clouds,2021-01-24 23:36:23
17,17,Rikitea,PF,-23.1203,-134.9692,80.31,68,2,10.38,clear sky,2021-01-24 23:35:36

In [18]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Country        3
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
Date           0
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
1,1,Chuy,UY,-33.6971,-53.4616,71.15,92,0,7.27,clear sky,2021-01-24 23:35:53
4,4,Hilo,US,19.7297,-155.0900,78.80,65,40,6.91,moderate rain,2021-01-24 23:35:44
5,5,Saint-Joseph,RE,-21.3667,55.6167,78.80,73,0,3.44,moderate rain,2021-01-24 23:38:53
6,6,Geraldton,AU,-28.7667,114.6000,70.70,65,74,13.89,broken clouds,2021-01-24 23:38:53
8,8,Puerto Ayora,EC,-0.7393,-90.3518,84.20,65,20,13.80,light rain,2021-01-24 23:38:53
9,9,Mar Del Plata,AR,-38.0023,-57.5575,75.99,88,0,16.11,clear sky,2021-01-24 23:38:48
10,10,Padang,ID,-0.9492,100.3543,73.40,88,40,5.75,scattered clouds,2021-01-24 23:38:54
12,12,Ambulu,ID,-8.3450,113.6058,78.58,75,76,2.93,broken clouds,2021-01-24 23:38:54
16,16,Carnarvon,AU,-24.8667,113.6333,73.40,73,90,14.97,overcast clouds,2021-01-24 23:36:23
17,17,Rikitea,PF,-23.1203,-134.9692,80.31,68,2,10.38,clear sky,2021-01-24 23:35:36

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Chuy,UY,71.15,clear sky,-33.6971,-53.4616,
4,Hilo,US,78.80,moderate rain,19.7297,-155.0900,
5,Saint-Joseph,RE,78.80,moderate rain,-21.3667,55.6167,
6,Geraldton,AU,70.70,broken clouds,-28.7667,114.6000,
8,Puerto Ayora,EC,84.20,light rain,-0.7393,-90.3518,
9,Mar Del Plata,AR,75.99,clear sky,-38.0023,-57.5575,
10,Padang,ID,73.40,scattered clouds,-0.9492,100.3543,
12,Ambulu,ID,78.58,broken clouds,-8.3450,113.6058,
16,Carnarvon,AU,73.40,overcast clouds,-24.8667,113.6333,
17,Rikitea,PF,80.31,clear sky,-23.1203,-134.9692,

In [36]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != ""]
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Chuy,UY,71.15,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
4,Hilo,US,78.80,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Saint-Joseph,RE,78.80,moderate rain,-21.3667,55.6167,"""Plantation Bed and Breakfast"
6,Geraldton,AU,70.70,broken clouds,-28.7667,114.6000,Broadwater Mariner Resort
8,Puerto Ayora,EC,84.20,light rain,-0.7393,-90.3518,Castillo Galapagos
...,...,...,...,...,...,...,...
676,Castanos,MX,84.20,mist,26.7833,-101.4167,Bomberos voluntarios castaños coahuila
677,Benito Juarez,MX,71.60,broken clouds,19.3850,-99.1650,Holiday Inn Ciudad de Mexico-Trade Center
678,Cap Malheureux,MU,75.00,few clouds,-19.9842,57.6142,Pereybere Hotel & Spa
679,Hambantota,LK,73.69,overcast clouds,6.1241,81.1185,Bungalow 63
684,La Union,PE,79.29,overcast clouds,-5.4000,-80.7500,Los Portales

In [62]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [67]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [69]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))